body {
	font-family: 'Lobster', cursive;
	background-color: #FFE4C4;
	padding-top: 10em !important;

}
  /*								Menu							*/
.menu{	
  background-color: #FFE4C4;
}

.menu li:hover{
	background-color: #8B4513;
}

#tit{
	color: black !important;
	
}
.menu a{
	color: #9d9d9d;
}
.menu button{
	padding: 0.75em;
	background-color: #FFE4C4;
}
.menu button:hover{
	background-color: #8B4513;
	color: white !important;
}

/*								Carrousel 							*/

.carro a{
	color: red;
}

/*							 	   Footer								*/
.footer{
	padding-top: 20em !important;
	color: #F0F8FF;
}
.footer a,p{
	color: #8B4513;
}

/*						Iconos Sociales							*/
.icons{
	margin-right: 2em;			
}
.icons i{
	margin: 10px;
}
.social-fb:hover {
    color: #3B5998;
    transform: rotate(360deg);
	transition: all 0.5s;
}
.social-tw:hover {
    color: #4099FF;
    transform: rotate(360deg);
	transition: all 0.5s;
}
.social-gp:hover {
    color: #d34836;
    transform: rotate(360deg);
	transition: all 0.5s;
}
.social-em:hover {
    color: #f39c12;
    transform: rotate(360deg);
	transition: all 0.5s;
}
li{
	list-style-type: none
}

